/** 
 via: https: //dev.to/felixhaeberle/responsive-fix-for-the-next-js-image-component-1351
*/
.blog-post-image-container {
  width: 100%;
}

.blog-post-image-container > span {
  position: unset !important;
}

.blog-post-image-component {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}